/* HEADER  */
header{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.header__content .navbar-brand i{
    color: #35a22c;
}
.header__content .navbar-brand span{
    font-size: 2rem;
}
.header__content ul.navbar-nav li{
    margin: 0 10px;
}
.header__content ul.navbar-nav li.active a{
    color: green !important;
    
}
.header__content ul.navbar-nav li::after{
    content:"";
    width: 0;
    height: 2px;
    background-color: #35a22c;
    display: block;
    transition: 0.5s;
}
.header__content ul.navbar-nav li.active::after{
    width: 100%;
}
.header__content ul.navbar-nav li:hover::after{
    width: 100%;
}
.header__content ul.navbar-nav li:hover a{
    color:#35a22c !important;
}



/* CAROUSEL  */
.carousel-item{
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.carousel-item:nth-child(1){
    background-image: url(../img/finland.jpg);
    /* background-position: center;
    background-size: cover;
    height: 700px; */
}
.carousel-item:nth-child(2){
    background-image: url(../img/mountains.jpg);
    /* background-position: center;
    background-size: cover;
    height: 700px; */
}
.carousel-item:nth-child(3){
    background-image: url(../img/mountains-1.jpg);
    /* background-position: center;
    background-size: cover;
    height: 700px; */
}
.carousel-caption .img_thumb{
    width: 120px;
    margin: auto;
}
.carousel-caption .img_thumb img{
    /* height: 150px; */
    /* width: 120px; */
    border-radius: 50%;
}
.carousel-caption h3 {
    font-size: 45px;
    margin-bottom: 1rem;
    /* transform: translateY(10px); */
}
.carousel-caption p {
    font-size: 20px;
}
.carousel-caption {
    /* text-align: center; */
    transform: translateY(-50% );
    top: 50%;
}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background-color: #35a22c;
}

/* PROJECTS  */
.projects__content .card {
    border-radius: 20px;
    border: none;
    overflow: hidden;
    box-shadow: 0 0 5px gray;
    cursor: pointer;
    margin: 1rem;
}
.projects__content .card-body{
    border: 1px solid transparent;
    transition: all 0.5s;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.projects__content .card:hover .card-body{
    border-color: green;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link{
    background-color: #35a22c;
}

.projects__content .nav-item {
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;

}

/* SERVICE  */
/* .service__title h1,
.service__title p
    {
    color: white;
    font-weight: 700;
} */
/* .service__title {
    text-align: center; }*/


#service {
    background-image: url(../img/3.jpg);    
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    padding: 5rem 0;
    height: 800px;

    /* transform: translateY(50%); */
}

#service .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* opacity: 0.5; */
    background-color: #00000087;
    
}
#service .service__title {
    position: relative;
}
.service__content .card{
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    color: white;
    background-color: #ffffff38;
    backdrop-filter: blur(5px);
    border: 1px solid #0000003d;
    transition: all 0.5s;
    margin: 1rem 0s;
}

.service__content .card:hover{
    background-color: black;
    border-color: white;
}
.service__content .card-body i{
    color: #35a22c;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px){
    .service__content .card{
        margin: 1rem 0;
    }
}









